.footer__column-link {
  flex-direction: row;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 0;
  opacity: 1;
  transition: opacity .5s ease;
}

.footer__column-link:hover {
  opacity: .5;
}
